#chat-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 500px;
}

#chat-box {
  text-align: left;
  flex-grow: 1;
  overflow: auto;
  font-size: 1.5em;
}

#submit-msg-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

#submit-msg {
  height: 100%;
  border: none;
  font-size: 1.5em;
}

#user-msg {
  flex-grow: 1;
  font-size: 1.5em;
}
