#lightbulb-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#bulb-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

#submit-msg-feedback {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 1.5em;
}
