@import 'titlebar';
@import 'card';
@import 'lightbulbpanel';
@import 'dashboard';
@import 'chatpanel';
@import 'message';

$base-color: #404040

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

#App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dark {
  background-color: #404040;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.dim {
  background-color: darken(white, 50%);
  color: black;
}

.brighten {
    background-color: white;
    color: black;
}

.happy {
  background-color: #ffe17f;
  color: black;
}

.sad {
  background-color: #8297bf;
  color: black;
}

.love {
  background-color: #ff91c2;
  color: black;
}

.mad {
  background-color: #FF0000;
  color: black;
}
.red {
  background-color: #FF0000;
  color: black;
}

.green {
  background-color: #00FF00;
  color: black;
}

.blue {
  background-color: #0000FF;
  color: black;
}

.purple {
  background-color: #800080;
  color: white;
}

.pink {
  background-color: #ff91c2;
  color: black;
}

.orange {
  background-color: #FFA500;
  color: black;
}
